*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgb(0, 0, 0, 0.3);
  height: 11vh;
}

#cabecalho a{
  text-decoration: none;
  color: #fff;
}

.logo {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 4px;
}

#nav, #menu{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

#nav i {
  font-size: 20px;
}

#menu li {
  list-style: none;
  font-size: 20px;
}


/* Background */
body {
  background-image: url(/img/bg_rio-de-janeiro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
}